<main
  class="bg-white w-2/3 my-10 rounded-lg shadow-lg min-h-screen border mx-auto"
>
  <invoice-header [invoiceId]="invoice.id" [invoiceName]="invoice.name" />

  <section
    class="flex flex-col md:flex-row items-center justify-center md:justify-between gap-8 border-b-2 p-8"
  >
    <div>
      <invoice-client [client]="invoice.client" />
    </div>

    <div>
      <invoice-company [company]="invoice.company" />
    </div>
  </section>

  <section class="p-8">
    <invoice-items
      [items]="invoice.items"
      (removeEventEmitter)="removeItem($event)"
      (isNewItem)="onNewItem($event)"
    />
  </section>

  <invoice-footer [invoiceTotal]="invoice.total" />
</main>

<section
  class="bg-white w-2/3 my-10 rounded-lg shadow-lg min-h-max border mx-auto"
>
  <invoice-form-item 
    (addItemEventEmitter)="addItem($event)" 
    [isHidenForm]="isNewItem" 
    (formVisibilityEmitter)="onNewItem($event)"
  />
</section>
